body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body,
html {
  padding: 0;
  margin: 0;
}

.Navbar {
  background-color: #7d7c84;
  color: white;
  text-decoration: none;
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;

  gap: 15px;
}

.Navbar * {
  text-decoration: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

.Navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.Navbar button {
  background-color: #88ab75;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-size: large;
  cursor: pointer;
}

.LoginPortal form {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  border: 3px solid black;
  border-radius: 15px;
  padding: 30px 10px;
  margin: 20px auto;
  gap: 10px;
  font-weight: bold;

  background-color: #e4d8d3;
}

.LoginPortal button {
  background-color: #88ab75;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-size: large;
  cursor: pointer;
}
.LoginPortal button:disabled {
  background-color: #d1f1c0;
  color: #666;
  cursor: initial;
  opacity: 0.6;
}

.LoginPortal input {
  background-color: #ebeaec;
  border: solid black 1px;
}

.Error {
  background-color: red;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  flex: 0 0 auto;
  width: fit-content;
  margin: 0;
  align-self: center;
}
.Logout {
  display: flex;
  align-items: center;
  gap: 20px;
}
